/* Style rules for Slick beauty section*/
.slick-row {
    background: url("../images/pink_bg.jpg");
    background-size: cover;
}

.slick-card {
    background: url("../images/hand-cellphone.jpg");
    background-size: cover;
}

.slick-bar {
    border-top: solid 4px #fe2377;
    margin-top: 10%;
}

.btn-group .btn {
    color: gray;
    font-weight: 900;
}