/* Style rules for Slick beauty section*/
.slick-row {
    background: url("../images/pink_bg.jpg");
    background-size: cover;
}

.slick-card {
    background: url("../images/hand-cellphone.jpg");
    background-size: cover;
    padding: 10% 0%;
}