/* START OF COVER */
nav h5, nav a, nav a:hover {
  font-family: quicksand, montserrat, sans-serif;
  color: gray;
  display: inline;
  margin-bottom: 0;
  font-size: 0.8rem;
}

nav h5 {
  line-height: 2rem;
  font-size: 1.1rem;
}

#cover {
  background: url("../images/hexon_bg.png");
  background-size: cover;
  height: 100vh;
  font-family: "Montserrat";
  font-weight: 100;
}

#cover .bottom_text {
  color: white;
}

#small {
  font-size: 80%;
}

/* END OF COVER */

/* START OF APP */

/* Style rules for Slick beauty section*/
#live {
  font-family: "Montserrat", sans-serif;
}

.slick-row {
  background: url("../images/pink_bg.jpg");
  background-size: contain;
}

.slick-card {
  background: url("../images/hand-cellphone.jpg");
  background-size: cover;
}

.slick-bar {
  border-top: solid 4px #fe2377;
  margin-top: 10%;
}

.slick-btn {
  text-transform: uppercase;
  font-family: sans-serif;
  color: #fd3483;
  font-weight: 900;
  font-size: 0.9rem;
  padding-left: 0;
}

.btn-group .btn {
  color: gray;
  font-weight: 900;
}

.card-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 4rem;
}

.pink_number {
  font-family: "Montserrat", sans-serif;
  color: #fd3483;
  font-size: 4rem;
  display: inline-block;
  vertical-align: top;

}

/* END OF APP */

/* START OF TILES */




/* END OF TILES */

/* START OF HIRE */
#hire {
  font-family: montserrat, sans-serif;
  background-image: url(../images/hire5.jpg);
  background-size: cover;
  height: 100vh;
}

#base {
  color: dimgray;
  font-size: 60%;
  letter-spacing: 0.4rem;
  margin-bottom: 8px;
  font-weight: 900;
}

#touch {
  color: dimgray;
  font-size: 70%;
  margin-bottom: 2px;
}

#button {
  padding: 8px 40px;
}

#hire button {
  border-radius: 3px;
}

#less_strong {
  font-size: 75%;
}

/* END OF HIRE */

/* START OF CONTACT */
#contact {
  font-family: quicksand, montserrat, sans-serif;
  background: -moz-radial-gradient(lightgray 7%, transparent 7%),
              -moz-radial-gradient(lightgray 7%, transparent 7%),
              #d2d2d259;
  background: -webkit-radial-gradient(lightgray 7%, transparent 7%),
              -webkit-radial-gradient(lightgray 7%, transparent 7%),
              #d2d2d259;
  background-position: 0 0 5px 5px;
  background-size: -webkit-background-size:30px 30px;
  background-size:  -moz-background-size:30px 30px;
  background-size: 30px 30px;
  background-color: #d2d2d259;
}

#updates {
  color: rgba(0,0,0,0.75);
}

#contact input {
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: darkgray;
  background: none;
}

#submit {
  border-radius: 100%;
  background-color: white;
  height: 40px;
  width: 40px;
  box-shadow: 0px 0px 20px 0px grey;
}

#submit:hover {
  box-shadow: 0px 0px 200px 0px grey;
}

#submit::selection {
  border: none;
}

#pink {
  color: #e84a8c;
  font-size: 75%;
}
/* END OF CONTACT */

/* START OF FOOTER */
.footer {
  font-family: montserrat, sans-serif;
  background-color: dimgray;
}

.footer p, .footer h5, .footer h6, .footer a, .footer a:hover {
  color: lightgray;
  display: inline;
  margin-bottom: 0;
  font-size: 90%;
}

.footer h5 {
  line-height: 2rem;
}

#logo {
  color: lightgray;
}

#footer-links {
  line-height: 2rem;
  margin: 0 4px;
  width: 2rem;
  background-color: gray;
  border-radius: 100%;
}

#subtext {
  color: gray;
  font-size: 75%;
  margin-left: 1rem;
}
/* END OF FOOTER */

.row {
  margin: 0;
}
